/* Reset du style */
@import './basics/reset.css';
/* Basics style */
@import './basics/style.css';
@import './basics/fonts.css';
@import './basics/responsive.css';
/* Components */
@import './components/form.css';
@import './components/buttons.css';
@import './components/error_message.css';
@import './routes/landing_page.css';
@import './routes/captcha.css';
@import './routes/redeem_coupon.css';
@import './routes/end_screen.css';
@import './routes/video.css';
@import './routes/game_gift.css';
@import '../experience/experience.css';
#BlinklLockLandscape {
  z-index: 999999999;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  padding: 15vh 5vw;
  box-sizing: border-box;
  position: absolute;
  display: none;
}

#BlinklLockLandscape #logo_Blinkl {
  width: 100px;
  position: absolute;
  top: 5vh;
}

#BlinklLockLandscape #logo_Lock_Landscape {
  width: 200px;
  height: auto;
  margin: 30px auto;
  display: block;
}

#BlinklLockLandscape .popup_content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#BlinklLockLandscape .popup_title {
  margin-top: 0;
  font-size: 8vh;
  color: #fceb4f;
  font-weight: 700;
  text-align: center;
}

#BlinklLockLandscape .popup_text {
  font-size: 3.5vh;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

#BlinklLockLandscape .popup_text.centered {
  text-align: center;
  display: block;
}

/* Routes */
/* Import variables */
@-webkit-keyframes load_bar {
  0%, 25% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@keyframes load_bar {
  0%, 25% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
#products_bio {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  background-color: #F9F1E4;
}
#products_bio #header_bio {
  height: 13vh;
  min-height: 80px;
  width: 100%;
  max-width: 100vw;
  background-image: url("https://cemoi.blinkl.com/bio//src/imgs/Logo-Bio-et-responsable-bg.png");
  background-position: top;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
#products_bio #header_bio #header_bio_logo {
  max-height: 80%;
  display: flex;
  padding: 20px;
}
#products_bio #header_bio #header_bio_logo_cemoi {
  max-width: 20%;
  max-height: 80%;
}
#products_bio #all_products_bio {
  height: 65vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 0 20px;
}
#products_bio #all_products_bio img {
  height: 25vh;
  margin: 1.5vw;
  filter: drop-shadow(10px 10px 10px #999999);
}
#products_bio #cock_message_bio {
  height: 22vh;
  width: 100%;
  position: relative;
  left: 5vh;
}
#products_bio #cock_message_bio img {
  position: absolute;
  bottom: 0;
  width: 9vw;
}
#products_bio #cock_message_bio #bio_message_container {
  background-color: #E6BD93;
  border: 1px solid #423932;
  color: #423932;
  width: 230px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 10vw;
  bottom: 4vw;
}
#products_bio #cock_message_bio #bio_message_container #button_gift_discover {
  background-color: #893C47;
  border-radius: 8px;
  color: #EEE7E0;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 10px 2px;
}
#products_bio #cock_message_bio #bio_message_container #button_gift_discover:hover {
  cursor: pointer;
}
#products_bio #cock_message_bio #triangle_container {
  position: absolute;
  left: calc(10vw - 19px);
  bottom: 6vw;
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 20px solid #E6BD93;
  border-left: 20px solid transparent;
}
#products_bio #cock_message_bio #triangle_container_border {
  position: absolute;
  left: calc(10vw - 21px);
  bottom: calc(6vw - 1px);
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 22px solid #423932;
  border-left: 22px solid transparent;
}

@media (max-width: 1024px) and (max-height: 1366px) {
  #products_bio #header_bio #header_bio_logo {
    max-height: 60%;
  }
  #products_bio #header_bio #header_bio_logo_cemoi {
    position: relative;
    top: -1.2vh;
  }
  #products_bio #all_products_bio {
    width: 90%;
    height: 42vh;
  }
  #products_bio #all_products_bio img {
    width: 15%;
    height: auto;
    margin: 2.5%;
  }
  #products_bio #cock_message_bio {
    left: 0;
    height: 20vh;
  }
  #products_bio #cock_message_bio img {
    width: auto;
    height: 16vw;
    max-height: 200px;
  }
  #products_bio #cock_message_bio #bio_message_container {
    max-width: 60%;
    bottom: 6vw;
    left: 22vw;
  }
  #products_bio #cock_message_bio #bio_message_container p {
    font-size: 14px;
    text-align: center;
  }
  #products_bio #cock_message_bio #bio_message_container #button_gift_discover {
    padding: 10px;
    font-size: 14px;
    margin: 5px 10px 2px;
  }
  #products_bio #cock_message_bio #triangle_container {
    bottom: 16vw;
    left: calc(22vw - 19px);
  }
  #products_bio #cock_message_bio #triangle_container_border {
    bottom: calc(16vw - 1px);
    left: calc(22vw - 21px);
  }
}

/*# sourceMappingURL=init.css.map */
